/*Custom styles to make the button square */
/* h1{
    text-align: center;
    color: blue;
} */

.square-btn {
    width: 150px; /* Adjust as needed */
    height: 150px;/* Equal to width to maintain square shape */
    line-height: 100px;/* Center text vertically */
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    
}